.footer {
  height: 10vh;
  background-color: #e6f3ff;
  padding: 16px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer small {
  font-size: 14px;
}